 .flex-parent{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;

 }


 .flex-child {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(180%);
    -webkit-transform: translateY(180%);
    transform: translateY(180%);
 }
 .card{
     width: 100%;
 }

 input[type="text"]{
     text-align: center;
     width: 100%;
 }


 input[type="number"]{
    text-align: left;
    width: 30%;
}


.next_btn{
    padding: 0 10px;
}

*{
    padding:0px;
    margin:0px;
    }

    fieldset{
    display:none;
    width: 100%;
    padding:0px 0px;
    border: none;
    align-items: center;
    word-break: break-all;
    /* overflow: auto; */
    margin: 5% auto auto auto;
    }
    #first{
        display:block;
    }

    legend {

        display:block;
        width:100%;
        height:50px;
        padding:1px 1% 0px 1%;
        background-color:#e0e3e3;
        margin:10px 0px 0px 0px;
        font-family:'opensans-light-webfont', Arial, Helvetica, sans-serif;
        font-size:1.2em;
        color:#444;
        letter-spacing: 0.5px;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
         text-align: left;
        vertical-align:middle;

    }


    body {
        margin: 0;
        padding: 0;
        background-color: white;
        height: 100vh;
      }
      #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        /*border: 1px solid #9C9C9C;*/
        background-color: #EAEAEA;
      }
      #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
      }
      #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
      }

    .titulo{
        text-align: center;
        color: black;
    }

    .estilo{
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(70%);
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }

    .espacio{
        margin: 5px auto 5px auto;
    }

    .btn{
        width: 49%;
    }

    select{
        align-items: center;
        align-content: center;
        width: 50%;
        margin-left: 25%;
    }

    .med{
        margin: -140px auto auto auto;
    }

    /*ADMINISTRADOR*/

    .sel{
        margin: auto;
    }

    .anch{
        width: 50%;
    }

    .ancho{
        width: 80%;
    }

    .esp{
        margin: 40px;
    }

    .bot{
        width: 150px;
    }

    .an{
        width: 332%;
    }

    th .acc{
        margin:auto 10% auto auto;
    }

    .mov{
        margin: auto -70px auto auto;
    }

    /* CIERRE ADMINISTRADOR*/




