 .flex-parent{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;

 }


 .flex-child {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(140%);
    -webkit-transform: translateY(140%);
    transform: translateY(140%);
 }
 .card{
     width: 100%;
 }

 input[type="text"]{
     text-align: center;
     width: 50%;
 }

 
 input[type="number"]{
    text-align: left;
    width: 30%;
}

input[type="radio"] {
    border: 5px;
    width: 150%;
    height: 8em;
}
